<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Invalid User</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <script defer> 
      setTimeout(() => {
        window.location.replace("/");
      }, 5000);
    </script>
  </head>
  <body>
    <main>
      <div class="container">
        <h1>Invalid username</h1>
        <p>Sorry, your username is not found. Please check & input your username correctly. </p>
        <a href="/">Return</a>
      </div>
    </main>

    <footer>
      Made with
      <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
            to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
